body {
    font-family: "Montserrat", Verdana, Arial, sans-serif;
}

h1{
    background-color: #301934;
    color: #f8f8ff;
    text-align: center;
}

h2{
    background-color: #301934;
    color: #f8f8ff;
}


#MainTextDiv {
    background-color: #301934;
    color: #f8f8ff;
    width: 80%;
    min-height: 400px;
}

#navigation {
    background-color: #301934;
    color: #f8f8ff;
}

a:visited {
    color: #c0c0c0;
}

a:hover {
    color: yellow;
}

img{
    object-fit: contain;
}

#mainPhotoFigure {
    float: right;
}

#mainPhotoImg {
    height: 450px;
    width: 450px;
}

#img-gallery {
    display: grid;
    margin-top: 10%;
}

#grid1 {
    grid-column-start: 1;
}
#grid2 {
    grid-column-start: 2;
}
#grid3 {
    grid-column-start: 3;
}

.gridImg {
    height: 350px;
    width: 350px;
}